body {
    width: 80%;
    margin: 50px auto;
    background-color: rgba(226, 64, 64, 0.596);
    border: 1px solid black;
}


ul {
    padding: 40px;
    margin: 0;
}

ul li {
    padding-top: 20px;
    border-bottom: 1px solid rgb(139, 21, 21);
    list-style-position: inside;
    font-weight: bold;
}

ul:first-child {
    background-color: aqua;
    color: white;
}