body {
    width: 80%;
    margin: 50px auto;
    background-color: rgba(226, 64, 64, 0.596);
    border: 1px solid black;
}


ul {
    padding: 40px;
    margin: 0;
}

ul li {
    padding-top: 20px;
    border-bottom: 1px solid rgb(139, 21, 21);
    list-style-position: inside;
    font-weight: bold;
}

a {
    text-decoration: none;
}

li:nth-child(-n+5) {
    background-color: aqua;
    color: #fff;
}

.box {
    float: left;
    height: 70px;
    width: 70px;
    background-color: blueviolet;
    margin-left: 10px;
    text-align: center;
}

div:nth-last-of-type(-n+2){
    color: #fff;
}


p:only-of-type {
    color: red;
}






.clear {
    content: 'table';
    clear: both;
}

